<section>
  <a class="arrow-back" href="/">←</a>
  <div class="board">
    <div class="board2">
      <div class="board3">
        <div>
          <h2>ADD SHIFT</h2>
          <form class="form">
            <label>EMPLOYEE:</label>
            <input type="text" name="assigned" id="assigned">
            <label>SHIFT STARTING TIME:</label>
            <input type="date" name="start" id="date">
            <label>SHIFT ENDING TIME:</label>
            <input type="date" name="end" id="end">
            <button class="btn" id="add-btn">ADD</button>  
          </form>
        </div>
        <div>
          <div id="shifts-list">
            <p>Test123</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>