{{!-- Sample department --}}
<a class="go-back" href="/users"><img src="/images/left-arrow.svg" class="go-back-btn"></a>
{{!-- <h2>DEPARTMENTS</h2> --}}

<section class="all-departments">
  <div class="departments-list">
    <div class="each-department">
      <a href="/departments/sampleDepartment">Intensive Care</a>
      <p><span class="manager-bold">Manager:</span> <span class="manager">Jane Doe</span></p>
      <a class="btn edit-button" href="/departments/sampleDepartment/edit">EDIT</a>
    </div>
    <div class="each-department">
      <a href="/departments/sampleDepartment">Intensive Care</a>
      <p><span class="manager-bold">Manager:</span> <span class="manager">Jane Doe</span></p>
      <a class="btn edit-button" href="/departments/sampleDepartment/edit">EDIT</a>
    </div>
    <div class="each-department">
      <a href="/departments/sampleDepartment">Intensive Care</a>
      <p><span class="manager-bold">Manager:</span> <span class="manager">Jane Doe</span></p>
      <a class="btn edit-button" href="/departments/sampleDepartment/edit">EDIT</a>
    </div>
    <div class="each-department">
      <a href="/departments/sampleDepartment">Intensive Care</a>
      <p><span class="manager-bold">Manager:</span> <span class="manager">Jane Doe</span></p>
      <a class="btn edit-button" href="/departments/sampleDepartment/edit">EDIT</a>
    </div>
    <div class="each-department">
      <a href="/departments/sampleDepartment">Intensive Care</a>
      <p><span class="manager-bold">Manager:</span> <span class="manager">Jane Doe</span></p>
      <a class="btn edit-button" href="/departments/sampleDepartment/edit">EDIT</a>
    </div>
  </div>
  <div class="create-stuff">
    <div>
      <a class="btn create-button" href="/departments/create">NEW DEPARTMENT</a>
    </div>
    <div>
      <a class="btn create-button" href="/users/create">NEW EMPLOYEE</a>
    </div>
  </div>
</section>