<a class="go-back" href="/users"><span class="arrow">⇦</span><span class="previous-page"> </span></a>
<section class="all-departments">
  <div class="departments-list">

{{#each departments}}
  <div class="each-department">
    <a href="/departments/{{this.name}}">{{this.name}}</a>
    <p><span class="manager-bold">Manager:</span> <span class="manager">Jane Doe</span></p>
    <div class="btns">
      <a class="btn edit-button" href="/departments/{{this.name}}/edit">EDIT</a>
      <form action="/departments/{{this.name}}/delete" method="POST">
        <button class="btn delete-button">DELETE</button>
      </form>
    </div>
  </div>
{{/each}}
  </div>
  <div class="side-bar">
    <div>
      <a class="btn create-button" href="/departments/create">NEW DEPARTMENT</a>
    </div>
    <div>
      <a class="btn create-button" href="/users/create">NEW EMPLOYEE</a>
    </div>
  </div>
</section>