<h2>Create Department Page </h2>

<form action="/departments/create" method="POST">
  <label>Input Some Stuff</label>
  <input type="text">

  <button>Submit</button>
</form>

<h6>
  <a href="/departments">Go Back</a>
</h6>