<a class="go-back" href="/departments">⇦<span class="previous-page"> </span></a>
<section class="container">
  <div class="spread-stuff">
    <form action="/departments/create" method="POST">
      <div>
        <label>Department name: </label>
        <input type="text" name="name">
      </div>
      <br>
      <button class="submit-button">CREATE</button>
    </form>
      <div id="dept-list">
        <p>test123</p>
        {{#each departments}}
          <a href="/users/show/{{this._id}}">
            {{this.name}}
          </a>
          <a class="submit-button" href="/departments/edit/{{this._id}}">EDIT</a>
          <br>
        {{/each}}
      </div>
  </div>
  <div class="side-bar">
  </div>
</section>