<h2>Edit departments</h2>
<p>Edit Info</p>

<form action="/departments/sampleDepartment/update" method="POST">
  <label>Put things here to update</label>
  <input type="text">

  <button>Update</button>
</form>
<form action="/departments/sampleDepartment/delete" method="POST">
  <button>Delete</button>
</form>



<h6>
  <a href="/departments">Go Back</a>
</h6>