<a class="go-back" href="/{{department.name}}"><img src="/images/left-arrow.svg" class="go-back-btn"></a>
<section class="container">
  <div class="center-stuff">
    <form action="/departments/{{department.name}}/update" method="POST">
    <h2>Edit {{department.name}}</h2>
    <div>
      <label>Update Name:</label>
      <input type="text" value="{{department.name}}">
    </div>
    <div>
      <label>Change Manager</label>
      <input type="text"> {{!-- ADD VALUE LATER --}}
    </div>
    <div>
      <label>Add Employees</label>
      <input type="text"> {{!-- ADD VALUE LATER --}}
    </div>
      <button class="submit-button">UPDATE</button>
    </form>
  </div>
  <div class="side-bar">
    {{!-- <p>Random text.</p> --}}
  </div>
</section>