<h2>All departments</h2>

{{!-- Sample department --}}
<h3>Sample Department</h3>
<ul>
  <li><a href="/users/employees">View Employees</a></li>
  <li><a href="/shifts">View Department Schedule</a></li>
</ul>