<h2>This employee </h2>


<h3>Employee's General Info will go here</h3>
<p>Make the list scrollable</p>
<ul>
  <li>Name</li>
  <li>Email</li>
  <li>Phone</li>
  <li>etc.</li>
</ul>
<ul>
  <li>Link to Password reset</li>
  <li>Link to edit info</li>
  <li>Doesn't have to be in an li</li>
</ul>
<h3>Employee's Schedule goes here</h3>
<div>
  I am the schedule. Can you put me on the right side?
  I should look exactly like the department schedule, except on this page,
  You should only see one person's schedule
</div>

<h6>
  <a href="/users">Go Back</a>
</h6>