<h2>This one department</h2>


<h3>List of Employees Go here</h3>
<p>Make the list scrollable</p>
<ul>
  <li>
    <a href="/departments/sampleDepartment/thisEmployee">
      Sample Employee
    </a>
  </li>
</ul>
<h3>Department Schedule goes here</h3>
<div>
  I am the schedule. Can you put me on the right side?
</div>

<h6>
  <a href="/users">Go Back</a>
</h6>