<section class="land-style-2">
  <div class="land-style">
    <div class="land-positioning">
      {{!-- <h1 class="logo logo2">E R 2 4<span class="seven"><span class="dot">⋅</span>7</span></h1> --}}
      <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Vitae proin sagittis nisl rhoncus
          mattis rhoncus. Leo in vitae turpis massa sed elementum tempus. Libero id faucibus nisl tincidunt eget nullam. Urna
          et pharetra pharetra massa massa ultricies mi. Quis vel eros donec ac. Id eu nisl nunc mi ipsum faucibus. Diam in
          arcu cursus euismod quis.</p>
      </section>
      <h3><a href="">Check out our demo!</a></h3>
    </div>
  </div>
</section>