<section class="land-style-2">
  <div class="land-style">
    <div class="land-positioning">
      {{!-- <h1 class="logo logo2">E R 2 4<span class="seven"><span class="dot">⋅</span>7</span></h1> --}}
      <p>ER24⋅7 is a tool to help managers organize their team's weekly schedule by showing all the information needed
        in one single page. As you select the time slots with simple clicks, you will complete what once was a
        time-consuming and tedious task in just a few minutes!</p>
    </div>
    <a class="demo-btn" href="/auth/login/demo">DEMO LOGIN</a>
  </div>
</section>