body {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  color: #414141; }

a {
  display: inline-block;
  color: black;
  text-decoration: none; }

nav a {
  font-weight: 400;
  font-size: 1.8rem; }

.nav-links a:hover {
  transform: scale(1.1);
  transition: all 0.5s; }

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  line-height: 90px;
  background-color: rgba(236, 236, 236, 0.596); }

.go-back-btn {
  width: 40px; }

.go-back-btn:hover {
  transform: scale(3);
  position: relative;
  animation-name: blah;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: .5s; }

@keyframes blah {
  0% {
    left: 30px; }
  85% {
    left: 40px; }
  100% {
    left: 30px; } }

.temporary-button {
  position: absolute;
  top: 88px;
  left: 21px;
  text-shadow: 1px 1px 0 white, -1px -1px 0 white;
  font-weight: 700; }

.login-info img {
  outline: 5px solid white;
  border: 2px solid black;
  background-color: #f36868;
  height: 50px;
  margin: 18px 5px 0 20px; }

.login-info, .nav2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px; }

.nav2 button {
  font-size: 1.2rem;
  font-weight: 100;
  border: none;
  background-color: transparent; }

.nav2 button:hover {
  cursor: pointer; }

.username {
  margin: 0; }

.username p {
  padding-left: 10px;
  line-height: 50px; }

.nav-links {
  display: flex;
  width: 300px;
  justify-content: space-around; }

.logo {
  margin-left: 2rem;
  width: 84.3px;
  border-bottom: 4px solid #e73617af;
  color: #505050;
  height: 60px;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -.27rem; }

.logo2 {
  margin-left: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  border-bottom: none; }

.logo:hover {
  color: black;
  border-bottom: 4px solid #af3621;
  transition: all .8s; }

.logo2:hover {
  border-bottom: none; }

.dot {
  color: #af3621; }

.seven {
  letter-spacing: -0.6rem; }

.each-shift {
  border: 1px solid black; }

.all-departments, .container {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  height: calc(100vh - 90px); }

.arrow-back {
  position: absolute;
  top: 100px;
  left: 100px; }

.board {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.911);
  box-shadow: 3px 3px 10px black;
  width: 95%;
  height: 90%; }

.board2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  text-align: left; }

.board3 {
  display: flex; }

.board3 * {
  width: 75%; }

.board3 form {
  display: flex;
  flex-direction: column; }

.board3 form * {
  margin-bottom: 20px; }

.each-shift {
  width: 250px;
  margin-top: 5px;
  padding-left: 5px;
  background-color: rgba(153, 153, 153, 0.466); }

.each-shift * {
  margin: 0; }

.message {
  color: white;
  padding-right: 10px;
  font-size: 1.5rem;
  width: 200px;
  position: absolute;
  top: 141px;
  right: 5px;
  text-align: right; }

.error-message {
  border-right: 18px solid red; }

.success-message {
  border-right: 18px solid blue; }

.each-department * {
  margin: 0; }

.each-department {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #b4b4b4; }

.each-department:hover {
  box-shadow: 10px 10px 10px #000000; }

.each-department a:first-child {
  font-weight: 600; }

.manager-bold {
  font-weight: 500; }

.btn {
  padding: 0 .1rem;
  border: none;
  color: white;
  border-radius: 2.5px;
  font-size: .6rem;
  font-weight: 600; }

.btns {
  align-self: flex-end;
  display: flex;
  width: 32%;
  justify-content: space-between;
  align-content: center;
  height: calc(.6rem + 4px); }

.btns form {
  height: calc(.6rem + 4px);
  display: inherit; }

.edit-button {
  color: white;
  background-color: #e73617;
  line-height: .9rem; }

.btn:hover {
  transform: scale(1.5);
  transition: all .05s;
  border-width: 1px; }

.edit-button:hover {
  border: 1px solid #e73617; }

.create-button {
  margin: .5rem;
  color: white;
  font-size: 1rem;
  border: none; }

.create-button:hover {
  transform: scale(1.1); }

.departments-list {
  padding: 50px 30px;
  width: 81.5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px 100px 100px;
  gap: 30px; }

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 150px 20px;
  width: 15%;
  color: white;
  background-color: #f36868; }

.go-back {
  position: absolute;
  top: 70px;
  left: 20px; }

.delete-button {
  border: 2px solid #e73617b4;
  color: #e73617; }

.land-style {
  height: 100vh;
  background-image: linear-gradient(-127deg, transparent 66%, #e7361717 73%), linear-gradient(-130deg, transparent 66%, #e7361717 73%), linear-gradient(-133deg, transparent 66%, #e7361717 73%), linear-gradient(-136deg, transparent 66%, #e7361717 73%), linear-gradient(-139deg, transparent 66%, #e7361717 73%), linear-gradient(-142deg, transparent 66%, #e7361717 73%), linear-gradient(-145deg, transparent 66%, #e7361717 73%), linear-gradient(-148deg, transparent 66%, #e7361717 73%), linear-gradient(-151deg, transparent 66%, #e7361717 73%), linear-gradient(-154deg, transparent 66%, #e7361717 73%), linear-gradient(-157deg, transparent 66%, #e7361717 73%), linear-gradient(-160deg, transparent 66%, #e7361717 73%), linear-gradient(-163deg, transparent 66%, #e7361717 73%); }

.land-style-2 {
  height: 100vh;
  background-image: url("/images/hospital-pic.jpeg");
  background-size: 100vw auto;
  background-position: bottom;
  background-repeat: no-repeat; }

.land-positioning {
  width: 60%;
  font-size: 1.5rem;
  text-align: right;
  padding: 123px 74px;
  font-weight: 500;
  color: black; }

.land-positioning p {
  margin: 0; }

.demo-btn {
  position: absolute;
  top: 500px;
  right: 30%;
  font-size: 2rem;
  font-weight: 700;
  border: 4px solid black;
  padding: 1rem;
  background-color: #ffffff8a;
  box-shadow: 10px 10px 10px grey; }

.demo-btn:hover {
  box-shadow: 10px 10px 10px black;
  background-color: #ffffff;
  transition: all .5s; }

.center-stuff {
  text-align: right;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center; }

.center-stuff input {
  width: 400px;
  height: 2rem;
  margin-bottom: .5rem; }

.center-stuff form {
  background-color: #f0f0f0;
  padding: 50px 40px;
  box-shadow: 5px 5px 5px #a1a1a1; }

.submit-button {
  border: 2px solid black;
  font-weight: 500;
  font-size: 1.2rem; }

.submit-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .2s; }

/*# sourceMappingURL=style.css.map */