body {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  color: #414141;
}

a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

nav a {
  font-weight: 400;
  font-size: 1.8rem;
}

.nav-links a:hover, .nav-links button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  line-height: 90px;
  background-color: #e6e6e69e;
}

.login-info img {
  outline: 5px solid white;
  border: 2px solid black;
  background-color: #f36868;
  height: 50px;
  margin: 18px 5px 0 20px;
}

.login-info, .nav2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.nav2 button {
  font-size: 1.2rem;
  font-weight: 100;
  border: none;
  background-color: transparent;
}

.nav2 button:hover {
  cursor: pointer;
}

.username {
  margin: 0;
}

.username p {
  padding-left: 10px;
  line-height: 50px;
}

.nav-links {
  display: flex;
  width: 300px;
  justify-content: space-around;
}

.logo {
  margin-left: 2rem;
  width: 146.3px;
  border-bottom: 6px solid #e73617af;
  height: 68.8px;
  font-size: 3.3rem;
  font-weight: 600;
  letter-spacing: -0.47rem;
}

.logo2 {
  margin-left: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  border-bottom: none;
}

.logo:hover {
  border-bottom: 6px solid rgb(175, 54, 33);
  transition: all .8s;
}

.logo2:hover {
  border-bottom: none;
}

.dot {
  color: rgb(175, 54, 33);
}

.seven {
  letter-spacing: -0.6rem;
}

.each-shift {
  border: 1px solid black;
}


.all-departments, .container {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  height: calc(100vh - 90px);
}

.arrow-back {
  position: absolute;
  top: 100px;
  left: 100px;
}

.each-shift {
  width: 250px;
  margin-top: 5px;
  padding-left: 5px;
  background-color: rgba(153, 153, 153, 0.466);
}

.each-shift * {
  margin: 0;
}

.schedule {
  height: 186px;
  width: 434px;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 30px;
}

.slot-label {
  margin: 0;
}

.each-slot {
  box-sizing: border-box;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  margin: 0;
  border: 2px solid #808080;
}

.each-slot-1:hover {
  border: 2px solid #ffd900;
  background-color: #ffd9004d;
}

.each-slot-2:hover {
  border: 2px solid #20a0eb;
  background-color: #20a1eb52;
  
}

.each-slot-3:hover {
  border: 2px solid #263277;
  background-color: #2632775e;

}

.selected {
  background-color: #f36868c5;
}

.message {
  color: white;
  padding-right: 10px;
  font-size: 1.4rem;
  width: 185px;
  position: absolute;
  top: 141px;
  right: 5px;
  text-align: right;
}

.error-message {
  border-right: 18px solid red;
}

.success-message {
  border-right: 18px solid blue;
}

.each-department * {
  margin: 0;
}

.each-department {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  border: 4px solid #afafaf;
}

.each-department:hover {
  border: 4px solid #808080;
}

.each-department a:first-child {
  font-weight: 600;
}

.manager-bold {
  font-weight: 500;
}

.you p, .edit-dept-title p {
  font-size: 2.5rem;
  margin: 1rem;
  text-align: center;
}

.you ul {
  list-style: none;
  text-align: left;
  width: 500px;
}

.btn {
  padding: 0 .1rem;
  border: none;
  color: white;
  border-radius: 2.5px;
  font-size: .6rem;
  font-weight: 600;
}

.btns {
  align-self: flex-end;
  display: flex;
  width: 32%;
  justify-content: space-between;
  align-content: center;
  height: calc(.6rem + 4px);
}

.btns form {
  height: calc(.6rem + 4px);
  display: inherit;
}

.aligned-btns, .aligned-btns button {
  height: fit-content;
}

.aligned-btns {
  align-self: flex-start;
}

.edit-button {
  color: white;
  background-color: #e73617;
  line-height: .9rem;
}

.btn:hover {
  transform: scale(1.5);
  transition: all .05s;
  border-width: 1px;
}

.edit-button:hover {
  border: 1px solid #e73617;
}

.create-button {
  margin: .5rem;
  color: white;
  font-size: 1rem;
  border: none;
}

.create-button:hover {
  transform: scale(1.1);
}

.departments-list {
  padding: 50px 30px;
  width: 81.5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px 100px 100px;
  gap: 30px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 150px 20px;
  width: 15%;
  color: white;
  background-color: #f36868;
}

.go-back {
  position: absolute;
  top: 95px;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 200;
  color: white;
  left: 25px;
  width: 37.8px;
  background-color: #ff7158b3;
  border: 0;
  border-radius: 16px;
  padding-left: 0.4rem;
  line-height: 36.3px;
  height: 36.3px;
}

// .go-back {
//   position: absolute;
//   top: 95px;
//   margin: 0;
//   font-size: 1.3rem;
//   color: white;
//   left: 20px;
//   width: 37.8px;
//   background-color: #ff7158b3;
//   border-radius: 16px;
//   padding-left: 0.8rem;
//   line-height: 36.3px;
//   height: 34.3px;
// }


.go-back:hover {
  .previous-page:after {
    position: relative;
    top: -2px;
    content: "previous page";
  }
  .arrow {
    position: relative;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: .5s;
  }
  width: 159px;
  background-color: #ff8d79;
  transition: all .1s;
}

@keyframes bounce {
  0% {
  // top: 1px;
  left: -3px;    
}
80% {
  // top: 1px;
  left: 5px;
}
100% {
    // top: 1px;
    left: -3px;
  }
}

.delete-button {
  border: 2px solid #e73617b4;
  color: #e73617;
}

.land-style {
  display: flex;
  height: 100vh;
}

.land-style-3 {
  background-image:
  linear-gradient(-127deg, transparent 66%, #e736170a 73%),
  linear-gradient(-130deg, transparent 66%, #e736170a 73%),
  linear-gradient(-133deg, transparent 66%, #e736170a 73%),
  linear-gradient(-136deg, transparent 66%, #e736170a 73%),
  linear-gradient(-139deg, transparent 66%, #e736170a 73%),
  linear-gradient(-142deg, transparent 66%, #e736170a 73%),
  linear-gradient(-145deg, transparent 66%, #e736170a 73%),
  linear-gradient(-148deg, transparent 66%, #e736170a 73%),
  linear-gradient(-151deg, transparent 66%, #e736170a 73%),
  linear-gradient(-154deg, transparent 66%, #e736170a 73%),
  linear-gradient(-157deg, transparent 66%, #e736170a 73%),
  linear-gradient(-160deg, transparent 66%, #e736170a 73%),
  linear-gradient(-163deg, transparent 66%, #e736170a 73%);
}

.land-style-2 {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1531346680769-a1d79b57de5c);
  background-size: 100vw auto;
  background-position-y: -906px;
  background-repeat: no-repeat;
}

.land-positioning {
  width: 100%;
  font-size: 2rem;
  text-align: right;
  align-self: center;
  justify-content: space-evenly;
  padding: 0 30% 0 15%;
  color: black;
}

.land-positioning p {
  margin: 0;
  padding-bottom: 90px;
}

.demo-btn {
  position: absolute;
  top: 500px;
  right: 30%;
  font-size: 2rem;
  font-weight: 700;
  border: 4px solid black;
  padding: 1rem;
  background-color: #ffffff8a;
}

.demo-btn:hover {
  background-color: #ffffff;
  transition: all .5s;
}

.center-stuff, .center-stuff-2 {
  text-align: right;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.center-stuff-2 > * {
  padding: 50px 40px;
  // border-radius: 28px;
  // border: 5px solid #afafaf;
}

.spread-stuff {
  text-align: right;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.spread-stuff > * {
  height: 425px;
  width: 50%;
}

.spread-stuff input, .center-stuff input, .spread-stuff select, .center-stuff select {
  font-size: 1.3rem;
  width: 400px;
  height: 2rem;
  margin-bottom: .5rem;
}

.spread-stuff > *, .center-stuff > * {
  padding: 50px 40px;
  border-radius: 28px;
  border: 5px solid #afafaf;
}

.submit-button {
  border: 2px solid black;
  font-weight: 500;
  font-size: 1.2rem;
}

.submit-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .2s;
}

.department-box {
  min-height: 400px;
  min-width: 700px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#employee-list, #shifts-list, .shifts-list, #dept-list {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 350px;
  // height: 500px;
}

#employee-list .submit-button {
  width: fit-content;
  font-size: .8rem;
  padding: 0 .3rem;
}

.employee-list > *, .shifts-list > * {
  margin: 0;
}

#shifts-list p {
  margin: 0;
}

.emp-formatting {
  font-weight: 500;
}

.shifts-form button {
  width: fit-content;
  align-self: flex-end;
}

.days-of-the-week {
  display: flex;
  width: 434px;
  justify-content: space-around;
  height: 4rem;
}

.shifts-of-the-day {
  position: absolute;
  top: 336px;
  left: 530px;
  line-height: 60px;
}

.shifts-of-the-day > * {
  margin: 0;
}

.shifts-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clear-button {
  border: none;
  font-weight: 600;
  font-size: .95rem;
  background-color: transparent;
  color: white;
}

.clear-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .1s;
}

.each-slot input {
  height: 60px;
  width: 60px;
  opacity: 0;
}

.actions {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.o-list {
  list-style: none;
  li:before {
    content: "⋅";
  }
}

.o-list a {
  border-bottom: 1px solid transparent;
}

.o-list a:hover {
  border-bottom: 1px solid black;
}

.gray {
  color: gray;
}

.cross-through {
  text-decoration: line-through;
}