<section class="container">
  {{!-- CURRENTLY NOT USING THIS PAGE --}}
  <h2>Show All Users</h2>

  <h3>Sample Employee</h3>
  <ul>
    <li><a href="/users/employees/sample">Info</a></li>
    <li><a href="">Schedule</a></li>
  </ul>
</section>