<a class="go-back" href="/auth/login"><span class="arrow">⇦</span><span class="previous-page"> </span></a>
<section class="container">
  <div class="center-stuff-2">
    <div class="actions">
      <ul>
        <li>
          <h4>Actions available to you:</h4>
          <ol class="o-list">
            <li>
              <a href="/users/edit/{{this._id}}">
                update your phone number
              </a>
            </li>
            <li>
              <a href="#">
                [emp/man] check your department schedule
              </a>
            </li>
            <li>
              <a href="#">
                [adm] see all departments
              </a>
            </li>
            <li>
              <a href="#">
                [adm] create new dept
              </a>
            </li>
            <li>
              <a href="#">
                [adm] add/see employee(s)
              </a>
            </li>
            <li>
              test
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
  <div class="side-bar">
    <p>test</p>
  </div>
</section>