<a class="go-back" href="/auth/login"><span class="arrow">⇦</span><span class="previous-page"> </span></a>
<section class="container">
  <div class="center-stuff-2">
    <div class="actions">
      <ul>
        <li>
          <h4>Actions available to you:</h4>
          <ol class="o-list">
            <li>
              <a href="/users/show/{{currentUser._id}}">
                see your profile
              </a>
            </li>

            <li>
              <a href="/users/edit/{{currentUser._id}}">
                update your {{#unless isManagerOrAdmin}}phone number{{/unless}}{{#if isManagerOrAdmin}}personal
                information{{/if}}
              </a>
            </li>

            {{!-- <li>
            {{#unless isManagerOrAdmin}}
              <a href="/shifts/{{currentUser.department.name}}">
            {{/unless}}
            {{#if isManagerOrAdmin}}
              <span class="cross-through gray">
            {{/if}}
                check your department schedule
              </a>
            </li> --}}

            <li>
              {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
                {{/unless}}
                {{#if isManagerOrAdmin}}
                <a href="/departments">
                  {{/if}}
                  see all departments
                </a>
            </li>

            {{!-- <li>
            {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
            {{/unless}}
            {{#if isManagerOrAdmin}}
              <a href="/departments">
            {{/if}}
                edit a department
              </a>
            </li> --}}

            <li>
              {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
                {{/unless}}
                {{#if isManagerOrAdmin}}
                <a href="/departments/create">
                  {{/if}}
                  create new department
                </a>
            </li>

            <li>
              {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
                {{/unless}}
                {{#if isManagerOrAdmin}}
                <a href="/departments">
                  {{/if}}
                  delete a department
                </a>
            </li>

            <li>
              {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
                {{/unless}}
                {{#if isManagerOrAdmin}}
                <a href="/users/create">
                  {{/if}}
                  see all employees
                </a>
            </li>

            <li>
              {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
                {{/unless}}
                {{#if isManagerOrAdmin}}
                <a href="/users/create">
                  {{/if}}
                  update employees' information
                </a>
            </li>

            <li>
              {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
                {{/unless}}
                {{#if isManagerOrAdmin}}
                <a href="/users/create">
                  {{/if}}
                  add new employee
                </a>
            </li>

            <li>
              {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
                {{/unless}}
                {{#if isManagerOrAdmin}}
                <a href="/users/create">
                  {{/if}}
                  delete an employee
                </a>
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
  <div class="side-bar">
    <p>Welcome, {{currentUser.firstName}}!</p>
  </div>
</section>