<h2>User Page</h2>

<ul>

  {{!-- Admin --}}
  <li><a href="/departments">Admin View</a></li>

  {{!-- Manager --}}
  <li><a href="/departments/sampleDepartment">Manager View</a></li>

  {{!-- Employee/Manager --}}
  <li><a href="/departments/sampleDepartment/thisEmployee">Employee View</a></li>
</ul>