<a class="go-back" href="/auth/login"><span class="arrow">⇦</span><span class="previous-page"> </span></a>
<section class="container">
  <div class="center-stuff-2">
    <div class="actions">
      <ul>
        <li>
          <h4>Actions available to you:</h4>
          <ol class="o-list">
            <li>
              <a href="/users/edit/{{currentUser._id}}">
                update your phone number
              </a>
            </li>
            <li>
              <a href="/shifts/{{currentUser.name}}">
                check your department schedule
              </a>
            </li>
            <li>
            {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
            {{/unless}}
            {{#if isManagerOrAdmin}}
              <a href="/departments">
            {{/if}}
                see all departments
              </a>
            </li>
            <li>
            {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
            {{/unless}}
            {{#if isManagerOrAdmin}}
              <a href="#">
            {{/if}}
                create new department
              </a>
            </li>
            <li>
            {{#unless isManagerOrAdmin}}
              <span class="cross-through gray">
            {{/unless}}
            {{#if isManagerOrAdmin}}
              <a href="#">
            {{/if}}
                add new employee
              </a>
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
  <div class="side-bar">
    <p>test</p>
  </div>
</section>