<h2>User Page</h2>

<ul>

  {{!-- Admin --}}
  <li><a href="/departments">View Departments</a></li>

  {{!-- Manager --}}
  <li><a href="/users/employees">View Employees</a></li>

  {{!-- Employee/Manager --}}
  <li><a href="/shifts">View Schedule</a></li>
</ul>