<h2>Login Page</h2>

<form action="/users/login" method="POST">
  <label>Email:</label>
  <input type="text" name="username">

  <label>Password:</label>
  <input type="password" name="password">

  <button>Submit</button>

</form>


<button>
  <a href="/users">Admin Bypass</a>
</button>