<a class="go-back" href="/"><img src="/images/left-arrow.svg" class="go-back-btn"></a>
<section class="container">
  <div class="center-stuff">
    <form action="/auth/login" method="POST">
      <div>
        <label>e-mail:</label>
        <input type="text" name="username" value="{{demo.email}}">
      </div>
      <div>
        <label>password:</label>
        <input type="password" name="password" value="{{demo.password}}">
      </div>
      <button class="submit-button">SUBMIT</button>
    </form>
  </div>
  <div class="side-bar">
    <p>Type in your e-mail and password.</p>
  </div>
</section>