<section class="container">
  <div class="center-stuff">
    <form action="/users/login" method="POST">
      <div>
        <label>e-mail:</label>
        <input type="text" name="username">
      </div>
      <div>
        <label>password:</label>
        <input type="password" name="password">
      </div>
      <button class="submit-button">SUBMIT</button>
    </form>
  </div>
  <div class="side-bar">
    <p>Type in your e-mail and password.</p>
  </div>
</section>